@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
  50% {
    opacity: 0.5;
    transform: scaleY(0.75);
  }
}

.pilar {
  animation: pulse 1.2s ease-in-out infinite;
  transform-origin: bottom;
}

.pilar:nth-child(2) {
  animation-delay: 0.3s;
}

.pilar:nth-child(3) {
  animation-delay: 0.6s;
}

.pilar:nth-child(4) {
  animation-delay: 0.9s;
}

.shadow-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bar-loading {
  display: block;
  width: 200px;
  height: 8px;
  border-radius: 30px;
  background-color: #dddddd;
  position: relative;
}

.bar-loading::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: #c1c1c1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
